BKP_DB_TYPE=mongo
BKP_DB_NAME=api-gateway

BKP_S3_BUCKET=bucket_name
BKP_S3_PREFIX=project_name
BKP_S3_ENDPOINT=https://some-objectstorage.com

BKP_CRON_ENABLED=0
BKP_CRON_SCHEDULE=0 */12 * * *
BKP_RETENTION_DAYS=14

# Env vars to use for Mongo
BKP_MONGO_URI=mongodb://api-gateway-db:27017

# Env vars to use for Postgres or Mongo without uri
BKP_DB_HOST=api-gateway-db
BKP_DB_PORT=5432
BKP_DB_USER=user
BKP_DB_PASSWORD=pass

AWS_DEFAULT_REGION=eu-central-1
AWS_EC2_METADATA_DISABLED=true
AWS_ACCESS_KEY_ID=key_id
AWS_SECRET_ACCESS_KEY=access_key
